<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your App</title>
</head>
<body>
    <h1>Farcaster Follower</h1>
   
    <p>Before proceeding, make sure to add your Farcaster ID to this <a href="https://docs.google.com/spreadsheets/d/1CUCgxhy1OnJzU_kwLy15T_NQHTaui8phxASpy_YYnq0/edit#gid=204458638" target="_blank">spreadsheet</a>.</p>
    <p>Please enter your Farcaster mnemonic below (you can find it in the advanced settings of the mobile app).</p>
    <form method="post">
        Mnemonic: <input type="text" name="mnemonic"><br>
        <input type="submit" value="Follow Users">
    </form>
    {% if logs %}
    <h2>Logs:</h2>
    <ul>
    {% for log in logs %}
        <li>{{ log }}</li>
    {% endfor %}
    </ul>
{% endif %}
</body>
</html>
